@import "../../index.less";

.grid-manga {
    position: relative;
    display: flex;
    background-color: transparent;
    margin-right: 50px;
    border-radius: 12px;
    overflow: hidden;
    height: max-content;
    background-color: var(--background);
    &:last-child {
        margin-right: 0px;
    }
}

.grid-manga-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid-manga-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
        filter: brightness(110%);
    }
}

.grid-manga-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.grid-manga-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.grid-manga-button {
    display: flex;
    align-items: center;
    background-color: var(--buttonBG);
    border-radius: 7px;
    border: none;
    padding: 18px 7px;
    height: 32px;
}

.grid-manga-button-hover {
    display: flex;
    align-items: center;
    transition: filter 0.2s;
    &:hover {
        cursor: default;
        filter: brightness(0);
    }
}

.grid-manga-button-hover2 {
    display: flex;
    align-items: center;
    &:hover {
        cursor: default;
        filter: brightness(130%);
    }
}

.grid-manga-button-img {
    height: 22px;
    width: auto;
    margin-right: 5px;
    color: var(--textColor);
}

.grid-manga-button-text {
    font-family: "Tsunagi Gothic Black", sans-serif;
    font-size: 22px;
    color: var(--textColor);
}

.grid-manga-img-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.grid-manga-text-container {
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: var(--textColor);
    justify-content: center;
    transform-origin: bottom;
    width: 100%;
    transition: all 0.3s;
    padding-top: 5px;
}

.grid-manga-text {
    font-family: "Tsunagi Gothic Black", sans-serif;
    font-size: 20px;
    color: var(--textColor);
}

.hide-grid-manga-text {
    transform-origin: bottom;
    transform: scaleY(0);
}

.grid-manga-title-container {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.grid-manga-title {
    color: var(--textColor);
    font-family: "Tsunagi Gothic Black";
    font-size: 18px;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.grid-manga-episode-count {
    color: var(--textColor);
    font-family: "Honoka Shin Antique-Kaku";
    font-size: 13px;
    word-break: break-word;
}

.grid-manga-genre-container {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    gap: 10px;
}

.grid-manga-genre-button {
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    border: none;
    align-items: center;
    border-radius: 4px;
    background-color: var(--buttonBG);
    color: var(--textColor);
    font-family: "Tsunagi Gothic Black";
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .grid-manga {
        margin-right: 10px;
    }

    .grid-manga-img-container {
        height: 250px;
    }

    .grid-manga-title-container {
        width: 180px;
    }

    .grid-manga-genre-container {
        width: 180px;
    }

    .grid-manga-button-img {
        height: 15px;
    }

    .grid-manga-button-container {
        gap: 5px;
    }

    .grid-manga-button {
        padding: 9px 5px;
    }

    .grid-manga-button-text {
        font-size: 15px;
    }

    .grid-manga-genre-button {
        font-size: 12px;
    }
}