@import "../../index.less";

.sortbar {
    position: relative;
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.sortbar-island {
    position: relative;
    display: flex;
    width: 95%;
    background-color: var(--background);
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 15px;
    padding: 7px 13px;
    border-radius: 16px;
}

.sortbar-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.sortbar-button {
    display: flex;
    align-items: center;
    background-color: var(--buttonBG);
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    height: 25px;
}

.sortbar-button-hover {
    display: flex;
    align-items: center;
    &:hover {
        cursor: default;
        filter: brightness(130%);
    }
}

.sortbar-button-img {
    height: 19px;
    width: auto;
    margin-right: 5px;
    color: var(--textColor);
}

.sortbar-button-text {
    font-family: "Tsunagi Gothic Black", sans-serif;
    font-size: 19px;
    color: var(--textColor);
}

.sortbar-search-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.sortbar-search {
    height: 100%;
    width: 200px;
    background-color: var(--background);
    border: none;
    font-family: "Honoka Shin Antique-Kaku", sans-serif;
    font-size: 19px;
    color: var(--textColor);
    padding: 5px;
    border-radius: 7px 0 0 7px;
    border: 1px solid var(--searchBorder);
    border-right: none;
}

.sortbar-search::placeholder {
    font-family: "Honoka Shin Antique-Kaku", sans-serif;
    font-size: 19px;
    color: var(--textColor);
}

.sortbar-search-button {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--buttonBG);
    border: none;
    padding: 2px 3px;
    border-radius: 0 7px 7px 0;
    border: 1px solid var(--searchBorder);
    border-left: none;
}

.sortbar-search-button-hover {
    display: flex;
    align-items: center;
    &:hover {
        filter: brightness(130%);
    }
}

.sortbar-search-button-img {
    height: 22px;
    width: auto;
    cursor: pointer;
    color: var(--textColor);
}

@media screen and (max-width: 500px) {
    .sortbar-island {
        width: 100%;
    }
    
    .sortbar-search {
        width: 100px;
    }
}